In [1]:
import json
import pandas as pd
import os
import numpy as np
import requests
from dotenv import load_dotenv
import pathlib as path

In [2]:
load_dotenv()
api_key = os.getenv("CENSUS_API_KEY")

In [3]:
#All Census api requests start with https://api.census.gov/data
#Then it's the dataset (one of over 1,200), ex: 2018/pep/charagegroups
# Then "?get=" followed by the list of variables and geographies we want data for, ex:
#POP,GEONAME, DATE_DESC&DATE_CODE=11&RACE=10
#Then, set the geography/ Foe ex: "&for=county:*&in=state:24" The * means all available values

#https://api.census.gov/data/2018/pep/charagegroups?get=POP,GEONAME,DATE_DESC&DATE_CODE=11&RACE=10&for=county:*&in=state:24

In [4]:
query_url = f'https://api.census.gov/data/2021/pep/population?get=DENSITY_2021,POP_2021,NAME,STATE,REGION&for=state&key={api_key}'
query = requests.get(query_url).json()
print(json.dumps(query, indent=4))

[
    [
        "DENSITY_2021",
        "POP_2021",
        "NAME",
        "STATE",
        "REGION",
        "state"
    ],
    [
        "58.1171593930",
        "3986639",
        "Oklahoma",
        "40",
        null,
        "40"
    ],
    [
        "25.5629643700",
        "1963692",
        "Nebraska",
        "31",
        null,
        "31"
    ],
    [
        "224.4561379100",
        "1441553",
        "Hawaii",
        "15",
        null,
        "15"
    ],
    [
        "11.8108489860",
        "895376",
        "South Dakota",
        "46",
        null,
        "46"
    ],
    [
        "169.1679021400",
        "6975218",
        "Tennessee",
        "47",
        null,
        "47"
    ],
    [
        "28.6180620940",
        "3143991",
        "Nevada",
        "32",
        null,
        "32"
    ],
    [
        "17.4415070270",
        "2115877",
        "New Mexico",
        "35",
        null,
        "35"
    ],
    [
        "57.1690084670",
        "3193079",
        "Iowa",
        "19",
        null,
        "19"
    ],
    [
        "35.8932536190",
        "2934582",
        "Kansas",
        "20",
        null,
        "20"
    ],
    [
        "10961.8457220000",
        "670050",
        "District of Columbia",
        "11",
        null,
        "11"
    ],
    [
        "113.0182013800",
        "29527941",
        "Texas",
        "48",
        null,
        "48"
    ],
    [
        "89.7235035990",
        "6168187",
        "Missouri",
        "29",
        null,
        "29"
    ],
    [
        "58.1946786180",
        "3025891",
        "Arkansas",
        "05",
        null,
        "05"
    ],
    [
        "177.5519359400",
        "10050811",
        "Michigan",
        "26",
        null,
        "26"
    ],
    [
        "155.1295034800",
        "1388992",
        "New Hampshire",
        "33",
        null,
        "33"
    ],
    [
        "216.9997170300",
        "10551162",
        "North Carolina",
        "37",
        null,
        "37"
    ],
    [
        "288.3098172500",
        "11780017",
        "Ohio",
        "39",
        null,
        "39"
    ],
    [
        "172.6534487600",
        "5190705",
        "South Carolina",
        "45",
        null,
        "45"
    ],
    [
        "5.9615893092",
        "578803",
        "Wyoming",
        "56",
        null,
        "56"
    ],
    [
        "251.7543622300",
        "39237836",
        "California",
        "06",
        null,
        "06"
    ],
    [
        "11.2318039020",
        "774948",
        "North Dakota",
        "38",
        null,
        "38"
    ],
    [
        "107.0103594900",
        "4624047",
        "Louisiana",
        "22",
        null,
        "22"
    ],
    [
        "634.8490376000",
        "6165129",
        "Maryland",
        "24",
        null,
        "24"
    ],
    [
        "514.9386202900",
        "1003384",
        "Delaware",
        "10",
        null,
        "10"
    ],
    [
        "289.7497855300",
        "12964056",
        "Pennsylvania",
        "42",
        null,
        "42"
    ],
    [
        "187.1125852300",
        "10799566",
        "Georgia",
        "13",
        null,
        "13"
    ],
    [
        "44.2326782730",
        "4246155",
        "Oregon",
        "41",
        null,
        "41"
    ],
    [
        "71.6770073090",
        "5707390",
        "Minnesota",
        "27",
        null,
        "27"
    ],
    [
        "56.0814214470",
        "5812069",
        "Colorado",
        "08",
        null,
        "08"
    ],
    [
        "1260.0290755000",
        "9267130",
        "New Jersey",
        "34",
        null,
        "34"
    ],
    [
        "114.1864679600",
        "4509394",
        "Kentucky",
        "21",
        null,
        "21"
    ],
    [
        "116.4497094300",
        "7738692",
        "Washington",
        "53",
        null,
        "53"
    ],
    [
        "44.4882874010",
        "1372247",
        "Maine",
        "23",
        null,
        "23"
    ],
    [
        "70.0378118040",
        "645570",
        "Vermont",
        "50",
        null,
        "50"
    ],
    [
        "23.0010226010",
        "1900923",
        "Idaho",
        "16",
        null,
        "16"
    ],
    [
        "189.9735779500",
        "6805985",
        "Indiana",
        "18",
        null,
        "18"
    ],
    [
        "7.5868654853",
        "1104271",
        "Montana",
        "30",
        null,
        "30"
    ],
    [
        "420.9359600800",
        "19835913",
        "New York",
        "36",
        null,
        "36"
    ],
    [
        null,
        "3263584",
        "Puerto Rico",
        "72",
        null,
        "72"
    ],
    [
        "744.5569910400",
        "3605597",
        "Connecticut",
        "09",
        null,
        "09"
    ],
    [
        "405.9804181900",
        "21781128",
        "Florida",
        "12",
        null,
        "12"
    ],
    [
        "218.8905118900",
        "8642274",
        "Virginia",
        "51",
        null,
        "51"
    ],
    [
        "895.3695301300",
        "6984723",
        "Massachusetts",
        "25",
        null,
        "25"
    ],
    [
        "228.2588546000",
        "12671469",
        "Illinois",
        "17",
        null,
        "17"
    ],
    [
        "62.8669463950",
        "2949965",
        "Mississippi",
        "28",
        null,
        "28"
    ],
    [
        "64.0221138030",
        "7276316",
        "Arizona",
        "04",
        null,
        "04"
    ],
    [
        "40.5207956030",
        "3337975",
        "Utah",
        "49",
        null,
        "49"
    ],
    [
        "108.8461550200",
        "5895908",
        "Wisconsin",
        "55",
        null,
        "55"
    ],
    [
        "99.5099129150",
        "5039877",
        "Alabama",
        "01",
        null,
        "01"
    ],
    [
        "74.1627628920",
        "1782959",
        "West Virginia",
        "54",
        null,
        "54"
    ],
    [
        "1059.6989939000",
        "1095610",
        "Rhode Island",
        "44",
        null,
        "44"
    ],
    [
        "1.2830925496",
        "732673",
        "Alaska",
        "02",
        null,
        "02"
    ]
]

In [5]:
query_df = pd.DataFrame(query)
query_df.head()
#query_df.describe()

                0         1             2      3       4      5
0    DENSITY_2021  POP_2021          NAME  STATE  REGION  state
1   58.1171593930   3986639      Oklahoma     40    None     40
2   25.5629643700   1963692      Nebraska     31    None     31
3  224.4561379100   1441553        Hawaii     15    None     15
4   11.8108489860    895376  South Dakota     46    None     46

In [6]:
#query_df

query_df.columns = query_df.iloc[0]
query_df = query_df[1:]
query_df.reset_index(drop=True, inplace=True)
query_df.head()

0    DENSITY_2021 POP_2021          NAME STATE REGION state
0   58.1171593930  3986639      Oklahoma    40   None    40
1   25.5629643700  1963692      Nebraska    31   None    31
2  224.4561379100  1441553        Hawaii    15   None    15
3   11.8108489860   895376  South Dakota    46   None    46
4  169.1679021400  6975218     Tennessee    47   None    47

In [9]:

renamed_query_df = query_df.rename(columns={
    "DENSITY_2021": "PopDensity/SqMi 2021",
    "POP_2021": "Total Population 2021",
    "NAME": "State",
    "STATE": "State Code",
    "REGION": "Region",
    "state": "state"}
)
del renamed_query_df['state']
renamed_query_df["Pop.Density/SqMi 2021"] = renamed_query_df[
    "PopDensity/SqMi 2021"].astype(float)

renamed_query_df["Total Population 2021"] = renamed_query_df[
    "Total Population 2021"].astype(int)

renamed_query_df["State Code"] = renamed_query_df[
    "State Code"].astype(int)

renamed_query_df["PopDensity/SqMi 2021"] = renamed_query_df[
    "PopDensity/SqMi 2021"].astype(float)

renamed_query_df.head()

,PopDensity/SqMi 2021,Total Population 2021,State,State Code,Region,Pop.Density/SqMi 2021
0,58.117159,3986639,Oklahoma,40,None,58.117159
1,25.562964,1963692,Nebraska,31,None,25.562964
2,224.456138,1441553,Hawaii,15,None,224.456138
3,11.810849,895376,South Dakota,46,None,11.810849
4,169.167902,6975218,Tennessee,47,None,169.167902

In [10]:
#re-sort cols:
# 
# final_query_df = final_query_df.sort_values(by="Pop.Change '20-'21", ascending=False)
final_query_df.head()

NameError: name 'final_query_df' is not defined

In [11]:
#reorder cols:

new_col_order = ["State", "State Code", "Pop.Density 2020", "Pop.Density 2021", "Total Pop.2020", "Total Pop.2021", "Pop.Change '20-'21"]
new_col_query_df = renamed_query_df[new_col_order]
new_col_query_df.head()

KeyError: '[\'Pop.Density 2020\', \'Pop.Density 2021\', \'Total Pop.2020\', \'Total Pop.2021\', "Pop.Change \'20-\'21"] not in index'

In [ ]:
#Advanced filtering:

housing_url = f"https://api.census.gov/data/2022/acs/acs1?get=NAME,B25082_001E,B25082_002E,B25082_003E&for=county:*&in=state:*&key={api_key}"
print(housing_url)


# Calculate percentages
df['Pct_30_34.9_Mortgage'] = df['B25082_002E'] / df['B25082_001E'] * 100
df['Pct_35Plus_Mortgage'] = df['B25082_003E'] / df['B25082_001E'] * 100

# Filter counties with high cost burden
high_cost_burden = df[(df['Pct_30_34.9_Mortgage'] + df['Pct_35Plus_Mortgage']) > 30]
print(high_cost_burden[['NAME', 'Pct_30_34.9_Mortgage', 'Pct_35Plus_Mortgage']])