In [1]:
import json
import pandas as pd
import os
import numpy as np
import requests
from dotenv import load_dotenv
import pathlib as path

In [2]:
load_dotenv()
api_key = os.getenv("CENSUS_API_KEY")

In [3]:
#2010 State Populations

state2010_url = f'https://api.census.gov/data/2010/dec/sf1?get=P001001,NAME&for=state:*&key={api_key}'

state2010_query = requests.get(state2010_url).json()
print(json.dumps(state2010_query, indent=4))

[
    [
        "P001001",
        "NAME",
        "state"
    ],
    [
        "4779736",
        "Alabama",
        "01"
    ],
    [
        "710231",
        "Alaska",
        "02"
    ],
    [
        "6392017",
        "Arizona",
        "04"
    ],
    [
        "2915918",
        "Arkansas",
        "05"
    ],
    [
        "37253956",
        "California",
        "06"
    ],
    [
        "4533372",
        "Louisiana",
        "22"
    ],
    [
        "4339367",
        "Kentucky",
        "21"
    ],
    [
        "5029196",
        "Colorado",
        "08"
    ],
    [
        "3574097",
        "Connecticut",
        "09"
    ],
    [
        "897934",
        "Delaware",
        "10"
    ],
    [
        "601723",
        "District of Columbia",
        "11"
    ],
    [
        "18801310",
        "Florida",
        "12"
    ],
    [
        "9687653",
        "Georgia",
        "13"
    ],
    [
        "1360301",
        "Hawaii",
        "15"
    ],
    [
        "1567582",
        "Idaho",
        "16"
    ],
    [
        "12830632",
        "Illinois",
        "17"
    ],
    [
        "6483802",
        "Indiana",
        "18"
    ],
    [
        "3046355",
        "Iowa",
        "19"
    ],
    [
        "2853118",
        "Kansas",
        "20"
    ],
    [
        "1328361",
        "Maine",
        "23"
    ],
    [
        "5773552",
        "Maryland",
        "24"
    ],
    [
        "6547629",
        "Massachusetts",
        "25"
    ],
    [
        "9883640",
        "Michigan",
        "26"
    ],
    [
        "5303925",
        "Minnesota",
        "27"
    ],
    [
        "2967297",
        "Mississippi",
        "28"
    ],
    [
        "5988927",
        "Missouri",
        "29"
    ],
    [
        "989415",
        "Montana",
        "30"
    ],
    [
        "1826341",
        "Nebraska",
        "31"
    ],
    [
        "2700551",
        "Nevada",
        "32"
    ],
    [
        "1316470",
        "New Hampshire",
        "33"
    ],
    [
        "8791894",
        "New Jersey",
        "34"
    ],
    [
        "2059179",
        "New Mexico",
        "35"
    ],
    [
        "19378102",
        "New York",
        "36"
    ],
    [
        "9535483",
        "North Carolina",
        "37"
    ],
    [
        "672591",
        "North Dakota",
        "38"
    ],
    [
        "11536504",
        "Ohio",
        "39"
    ],
    [
        "3751351",
        "Oklahoma",
        "40"
    ],
    [
        "3831074",
        "Oregon",
        "41"
    ],
    [
        "12702379",
        "Pennsylvania",
        "42"
    ],
    [
        "1052567",
        "Rhode Island",
        "44"
    ],
    [
        "4625364",
        "South Carolina",
        "45"
    ],
    [
        "814180",
        "South Dakota",
        "46"
    ],
    [
        "6346105",
        "Tennessee",
        "47"
    ],
    [
        "25145561",
        "Texas",
        "48"
    ],
    [
        "2763885",
        "Utah",
        "49"
    ],
    [
        "625741",
        "Vermont",
        "50"
    ],
    [
        "8001024",
        "Virginia",
        "51"
    ],
    [
        "6724540",
        "Washington",
        "53"
    ],
    [
        "1852994",
        "West Virginia",
        "54"
    ],
    [
        "5686986",
        "Wisconsin",
        "55"
    ],
    [
        "563626",
        "Wyoming",
        "56"
    ],
    [
        "3725789",
        "Puerto Rico",
        "72"
    ]
]

In [28]:
state_pop_df = pd.DataFrame(state2010_query)
state_pop_df.head()

state_pop_df.columns = state_pop_df.iloc[0]
state_pop_df = state_pop_df[1:]
state_pop_df.reset_index(drop=True, inplace=True)
state_pop_df.head()

state_pop_df = state_pop_df[["NAME", "P001001", "state"]]
state_pop_df2 = state_pop_df.rename(columns={"NAME": "Name", "P001001": "Total Population", "state": "State Code"})
state_pop_df2.head()
#query_df.describe()

0        Name Total Population State Code
0     Alabama          4779736         01
1      Alaska           710231         02
2     Arizona          6392017         04
3    Arkansas          2915918         05
4  California         37253956         06

In [18]:
#2020 State Populations

state2020_url = f'https://api.census.gov/data/2020/dec/ddhca?get=NAME,T01001_001N&for=state:*&key={api_key}'

state2020_query = requests.get(state2020_url).json()
print(json.dumps(state2020_query, indent=4))

[
    [
        "NAME",
        "T01001_001N",
        "state"
    ],
    [
        "Alabama",
        "1533877",
        "01"
    ],
    [
        "Alaska",
        "252986",
        "02"
    ],
    [
        "Arizona",
        "2592964",
        "04"
    ],
    [
        "Arkansas",
        "987250",
        "05"
    ],
    [
        "California",
        "9653100",
        "06"
    ],
    [
        "Colorado",
        "2637663",
        "08"
    ],
    [
        "Connecticut",
        "1609174",
        "09"
    ],
    [
        "Delaware",
        "389497",
        "10"
    ],
    [
        "District of Columbia",
        "187028",
        "11"
    ],
    [
        "Florida",
        "6696410",
        "12"
    ],
    [
        "Georgia",
        "2842292",
        "13"
    ],
    [
        "Hawaii",
        "222099",
        "15"
    ],
    [
        "Idaho",
        "910444",
        "16"
    ],
    [
        "Illinois",
        "5137327",
        "17"
    ],
    [
        "Indiana",
        "2844288",
        "18"
    ],
    [
        "Iowa",
        "1672555",
        "19"
    ],
    [
        "Kansas",
        "1318720",
        "20"
    ],
    [
        "Kentucky",
        "1805373",
        "21"
    ],
    [
        "Louisiana",
        "1251417",
        "22"
    ],
    [
        "Maine",
        "731434",
        "23"
    ],
    [
        "Maryland",
        "1907390",
        "24"
    ],
    [
        "Massachusetts",
        "3226762",
        "25"
    ],
    [
        "Minnesota",
        "3162905",
        "27"
    ],
    [
        "Mississippi",
        "730188",
        "28"
    ],
    [
        "Missouri",
        "2686305",
        "29"
    ],
    [
        "Montana",
        "581447",
        "30"
    ],
    [
        "Nebraska",
        "1014997",
        "31"
    ],
    [
        "Nevada",
        "963667",
        "32"
    ],
    [
        "New Hampshire",
        "751580",
        "33"
    ],
    [
        "New Jersey",
        "3460488",
        "34"
    ],
    [
        "New Mexico",
        "585472",
        "35"
    ],
    [
        "North Carolina",
        "3558029",
        "37"
    ],
    [
        "North Dakota",
        "469654",
        "38"
    ],
    [
        "Ohio",
        "5494629",
        "39"
    ],
    [
        "Oklahoma",
        "1252718",
        "40"
    ],
    [
        "Oregon",
        "1945000",
        "41"
    ],
    [
        "Pennsylvania",
        "6413931",
        "42"
    ],
    [
        "South Carolina",
        "1720738",
        "45"
    ],
    [
        "South Dakota",
        "479666",
        "46"
    ],
    [
        "Tennessee",
        "2430936",
        "47"
    ],
    [
        "Texas",
        "7136171",
        "48"
    ],
    [
        "Utah",
        "1650134",
        "49"
    ],
    [
        "Vermont",
        "336360",
        "50"
    ],
    [
        "Virginia",
        "2986554",
        "51"
    ],
    [
        "Washington",
        "3272249",
        "53"
    ],
    [
        "West Virginia",
        "770310",
        "54"
    ],
    [
        "Wisconsin",
        "3367458",
        "55"
    ],
    [
        "Wyoming",
        "284163",
        "56"
    ],
    [
        "Puerto Rico",
        "48968",
        "72"
    ],
    [
        "Rhode Island",
        "513575",
        "44"
    ],
    [
        "Michigan",
        "4712607",
        "26"
    ],
    [
        "New York",
        "6970978",
        "36"
    ]
]

In [26]:
state_pop2020_df = pd.DataFrame(state2020_query)
state_pop2020_df.head()

state_pop2020_df.columns = state_pop2020_df.iloc[0]
state_pop2020_df = state_pop2020_df[1:]
state_pop2020_df.reset_index(drop=True, inplace=True)

state_pop2020_df.head()
state_pop2020_df2 = state_pop2020_df.rename(columns={"NAME": "Name", "T01001_001N": "Total Population", "state": "State Code"})
state_pop_df2.head()
#query_df.describe()

0        Name Total Population State Code
0     Alabama          4779736         01
1      Alaska           710231         02
2     Arizona          6392017         04
3    Arkansas          2915918         05
4  California         37253956         06

In [29]:
#2022 State Populations:

state2022_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,B01003_001E&for=state:*&key={api_key}'

state2022_query = requests.get(state2022_url).json()
print(json.dumps(state2022_query, indent=4))

[
    [
        "NAME",
        "B01003_001E",
        "state"
    ],
    [
        "Alabama",
        "5074296",
        "01"
    ],
    [
        "Alaska",
        "733583",
        "02"
    ],
    [
        "Arizona",
        "7359197",
        "04"
    ],
    [
        "Arkansas",
        "3045637",
        "05"
    ],
    [
        "California",
        "39029342",
        "06"
    ],
    [
        "Colorado",
        "5839926",
        "08"
    ],
    [
        "Connecticut",
        "3626205",
        "09"
    ],
    [
        "Delaware",
        "1018396",
        "10"
    ],
    [
        "District of Columbia",
        "671803",
        "11"
    ],
    [
        "Florida",
        "22244823",
        "12"
    ],
    [
        "Georgia",
        "10912876",
        "13"
    ],
    [
        "Hawaii",
        "1440196",
        "15"
    ],
    [
        "Idaho",
        "1939033",
        "16"
    ],
    [
        "Illinois",
        "12582032",
        "17"
    ],
    [
        "Indiana",
        "6833037",
        "18"
    ],
    [
        "Iowa",
        "3200517",
        "19"
    ],
    [
        "Kansas",
        "2937150",
        "20"
    ],
    [
        "Kentucky",
        "4512310",
        "21"
    ],
    [
        "Louisiana",
        "4590241",
        "22"
    ],
    [
        "Maine",
        "1385340",
        "23"
    ],
    [
        "Maryland",
        "6164660",
        "24"
    ],
    [
        "Massachusetts",
        "6981974",
        "25"
    ],
    [
        "Michigan",
        "10034118",
        "26"
    ],
    [
        "Minnesota",
        "5717184",
        "27"
    ],
    [
        "Mississippi",
        "2940057",
        "28"
    ],
    [
        "Missouri",
        "6177957",
        "29"
    ],
    [
        "Montana",
        "1122867",
        "30"
    ],
    [
        "Nebraska",
        "1967923",
        "31"
    ],
    [
        "Nevada",
        "3177772",
        "32"
    ],
    [
        "New Hampshire",
        "1395231",
        "33"
    ],
    [
        "New Jersey",
        "9261699",
        "34"
    ],
    [
        "New Mexico",
        "2113344",
        "35"
    ],
    [
        "New York",
        "19677151",
        "36"
    ],
    [
        "North Carolina",
        "10698973",
        "37"
    ],
    [
        "North Dakota",
        "779261",
        "38"
    ],
    [
        "Ohio",
        "11756058",
        "39"
    ],
    [
        "Oklahoma",
        "4019800",
        "40"
    ],
    [
        "Oregon",
        "4240137",
        "41"
    ],
    [
        "Pennsylvania",
        "12972008",
        "42"
    ],
    [
        "Rhode Island",
        "1093734",
        "44"
    ],
    [
        "South Carolina",
        "5282634",
        "45"
    ],
    [
        "South Dakota",
        "909824",
        "46"
    ],
    [
        "Tennessee",
        "7051339",
        "47"
    ],
    [
        "Texas",
        "30029572",
        "48"
    ],
    [
        "Utah",
        "3380800",
        "49"
    ],
    [
        "Vermont",
        "647064",
        "50"
    ],
    [
        "Virginia",
        "8683619",
        "51"
    ],
    [
        "Washington",
        "7785786",
        "53"
    ],
    [
        "West Virginia",
        "1775156",
        "54"
    ],
    [
        "Wisconsin",
        "5892539",
        "55"
    ],
    [
        "Wyoming",
        "581381",
        "56"
    ],
    [
        "Puerto Rico",
        "3221789",
        "72"
    ]
]

In [30]:
state_pop2022_df = pd.DataFrame(state2022_query)
state_pop2022_df.head()

state_pop2022_df.columns = state_pop2022_df.iloc[0]
state_pop2022_df = state_pop2022_df[1:]
state_pop2022_df.reset_index(drop=True, inplace=True)

state_pop2022_df.head()
state_pop2022_df2 = state_pop2020_df.rename(columns={"NAME": "Name", "T01001_001N": "Total Population", "state": "State Code"})
state_pop2022_df2.head()
#query_df.describe()

0        Name Total Population State Code
0     Alabama          1533877         01
1      Alaska           252986         02
2     Arizona          2592964         04
3    Arkansas           987250         05
4  California          9653100         06